
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Index", "Index")<br /><br />
@Html.ActionLink("SaveSession", "SaveSession")<br /><br />
@Html.ActionLink("GetSession", "GetSession")<br /><br />

