
@{
    ViewBag.Title = "SaveSession";
}

<h2>SaveSession</h2>

@Html.ActionLink("Index", "Index")<br /><br />
@Html.ActionLink("SaveSession", "SaveSession")<br /><br />
@Html.ActionLink("GetSession", "GetSession")<br /><br />